# Project-wide Gradle settings.

# IDE (e.g. Android Studio) users:
# Gradle settings configured through the IDE *will override*
# any settings specified in this file.

# For more details on how to configure your build environment visit
# http://www.gradle.org/docs/current/userguide/build_environment.html

# Specifies the JVM arguments used for the daemon process.
# The setting is particularly useful for tweaking memory settings.
# Default value: -Xmx10248m -XX:MaxPermSize=256m
# org.gradle.jvmargs=-Xmx2048m -XX:MaxPermSize=512m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8

# When configured, Gradle will run in incubating parallel mode.
# This option should only be used with decoupled projects. More details, visit
# http://www.gradle.org/docs/current/userguide/multi_project_builds.html#sec:decoupled_projects
# org.gradle.parallel=true
keystore = gk.jks
keystore_password = changeit
key_alias = gkbrowser
key_password = changeit
release_fabric_api_key = RELEASE_FABRIC_API_KEY
debug_fabric_api_key = add_your_fabric_api_key_for_debug_if_enbling_crashlytics_for_debug
dev_producer_id = "DEV_PRODUCER_ID"
dev_channel_id = "DEV_CHANNEL_ID"
dev_mobile_app_key = "DEV_MOBILE_APP_KEY"
dev_mobile_app_secret = "DEV_MOBILE_APP_SECRET"
staging_producer_id = "STAGING_PRODUCER_ID"
staging_channel_id = "STAGING_CHANNEL_ID"
staging_mobile_app_key = "STAGING_MOBILE_APP_KEY"
staging_mobile_app_secret = "STAGING_MOBILE_APP_SECRET"