<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sunbird">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="org.sunbird.GlobalApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.sunbird.ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/api_url"
                    android:pathPrefix="/public"
                    android:scheme="@string/deeplink_scheme_http" />

                <data
                    android:host="@string/api_url"
                    android:pathPrefix="/public"
                    android:scheme="@string/deeplink_scheme_https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.ecar" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/ecar"
                    android:scheme="@string/deeplink_scheme_content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ecar" />
                <data android:pathPattern="/*.*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\..*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\..*\\..*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\..*\\..*\\..*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\..*\\..*\\..*\\..*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\..*\\..*\\..*\\..*\\..*\\.ecar" />
                <data android:pathPattern="/*.*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ecar" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sunbird.ui.KeyCloakResponseActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/api_url"
                    android:pathPrefix="/oauth2callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="$YOUR_FABRIC_API_KEY$" />

        <provider
            android:name="org.sunbird.providers.UserProvider"
            android:authorities="${applicationId}.profiles"
            android:exported="true" />

        <provider
            android:name="org.sunbird.providers.TelemetryProvider"
            android:authorities="${applicationId}.telemetry"
            android:exported="true" />

        <provider
            android:name="org.sunbird.providers.PartnerProvider"
            android:authorities="${applicationId}.partner"
            android:exported="true" />

        <provider
            android:name="org.sunbird.providers.ContentProvider"
            android:authorities="${applicationId}.content"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>